body {
    background-color: #BDBDBD;
}

#main-container {
    background-color: #BDBDBD;
    padding:115px 10px;
    max-width: 600px;
    margin: auto;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    box-shadow: 1px 1px 15px #888888;
}

#header {
    width:100%;
    padding:20px 0px;
    background-color: #000;
}

#header-constrant {
    width:100%;
}

#name {
    max-width: 600px;
    margin:auto;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

#headshot {
    margin-bottom: 45px;
}

#weekly-text {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 5px;
    text-align: center;
}

#footer {
    background-color: #000;
    padding-top:10px;
    text-align: center;
}

#footer-text {
    margin-top: 5px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#tooltipMessage{
    text-align: center;
}

#message-text{
    font-size: 18px;
    font-weight: bold;
}

#change-me{
    float: right;
}

#change-color{
    float: right;
    padding-left: 19px;
    padding-right: 19px;
}